body {
  margin: 0;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: white;
  color: black;
  font-family: arial, sans-serif;
  overflow: hidden;
}

.content {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 20px;
  background: white;
  padding: 60px 40px;
  text-align: center;
  box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}
.content p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
  letter-spacing: 0.1rem;
  color: #595959;
}
.content p:last-child {
  margin-bottom: 0;
}
.content button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid #595959;
  background: transparent;
  font-size: 1rem;
  color: #595959;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.particle {
  position: absolute;
  display: block;
  pointer-events: none;
}
.particle:nth-child(1) {
  top: 32.552404439%;
  left: 96.9337289812%;
  font-size: 11px;
  filter: blur(0.02px);
  animation: 39s floatReverse infinite;
}
.particle:nth-child(2) {
  top: 10.8374384236%;
  left: 20.7509881423%;
  font-size: 12px;
  filter: blur(0.04px);
  animation: 25s float infinite;
}
.particle:nth-child(3) {
  top: 91.0411622276%;
  left: 26.3157894737%;
  font-size: 26px;
  filter: blur(0.06px);
  animation: 37s float2 infinite;
}
.particle:nth-child(4) {
  top: 53.9759036145%;
  left: 66.9902912621%;
  font-size: 30px;
  filter: blur(0.08px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(5) {
  top: 13.7761377614%;
  left: 93.7808489635%;
  font-size: 13px;
  filter: blur(0.1px);
  animation: 28s floatReverse infinite;
}
.particle:nth-child(6) {
  top: 85.9584859585%;
  left: 16.6830225711%;
  font-size: 19px;
  filter: blur(0.12px);
  animation: 37s float infinite;
}
.particle:nth-child(7) {
  top: 11.5802171291%;
  left: 43.7317784257%;
  font-size: 29px;
  filter: blur(0.14px);
  animation: 38s floatReverse2 infinite;
}
.particle:nth-child(8) {
  top: 88.6699507389%;
  left: 40.5138339921%;
  font-size: 12px;
  filter: blur(0.16px);
  animation: 31s floatReverse infinite;
}
.particle:nth-child(9) {
  top: 8.8235294118%;
  left: 53.1496062992%;
  font-size: 16px;
  filter: blur(0.18px);
  animation: 25s float infinite;
}
.particle:nth-child(10) {
  top: 21.43727162%;
  left: 54.8481880509%;
  font-size: 21px;
  filter: blur(0.2px);
  animation: 35s floatReverse infinite;
}
.particle:nth-child(11) {
  top: 95.6843403206%;
  left: 43.5212660732%;
  font-size: 11px;
  filter: blur(0.22px);
  animation: 35s float infinite;
}
.particle:nth-child(12) {
  top: 44.8780487805%;
  left: 52.9411764706%;
  font-size: 20px;
  filter: blur(0.24px);
  animation: 23s float infinite;
}
.particle:nth-child(13) {
  top: 22.4116930572%;
  left: 62.6836434868%;
  font-size: 21px;
  filter: blur(0.26px);
  animation: 34s float2 infinite;
}
.particle:nth-child(14) {
  top: 78.640776699%;
  left: 44.921875%;
  font-size: 24px;
  filter: blur(0.28px);
  animation: 37s float2 infinite;
}
.particle:nth-child(15) {
  top: 21.5422276622%;
  left: 11.7994100295%;
  font-size: 17px;
  filter: blur(0.3px);
  animation: 33s float infinite;
}
.particle:nth-child(16) {
  top: 57.8431372549%;
  left: 46.2598425197%;
  font-size: 16px;
  filter: blur(0.32px);
  animation: 21s float infinite;
}
.particle:nth-child(17) {
  top: 92.2699386503%;
  left: 76.8472906404%;
  font-size: 15px;
  filter: blur(0.34px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(18) {
  top: 44.3349753695%;
  left: 76.0869565217%;
  font-size: 12px;
  filter: blur(0.36px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(19) {
  top: 15.7055214724%;
  left: 58.1280788177%;
  font-size: 15px;
  filter: blur(0.38px);
  animation: 27s floatReverse infinite;
}
.particle:nth-child(20) {
  top: 19.3470374849%;
  left: 0.9737098345%;
  font-size: 27px;
  filter: blur(0.4px);
  animation: 31s floatReverse2 infinite;
}
.particle:nth-child(21) {
  top: 62.4390243902%;
  left: 13.7254901961%;
  font-size: 20px;
  filter: blur(0.42px);
  animation: 34s float infinite;
}
.particle:nth-child(22) {
  top: 4.8484848485%;
  left: 69.2682926829%;
  font-size: 25px;
  filter: blur(0.44px);
  animation: 35s floatReverse2 infinite;
}
.particle:nth-child(23) {
  top: 5.8252427184%;
  left: 77.1484375%;
  font-size: 24px;
  filter: blur(0.46px);
  animation: 39s floatReverse infinite;
}
.particle:nth-child(24) {
  top: 18.4690157959%;
  left: 60.6060606061%;
  font-size: 23px;
  filter: blur(0.48px);
  animation: 22s float infinite;
}
.particle:nth-child(25) {
  top: 6.7714631197%;
  left: 38.9483933788%;
  font-size: 27px;
  filter: blur(0.5px);
  animation: 35s float2 infinite;
}
.particle:nth-child(26) {
  top: 84.6248462485%;
  left: 65.1530108588%;
  font-size: 13px;
  filter: blur(0.52px);
  animation: 30s float infinite;
}
.particle:nth-child(27) {
  top: 45.9657701711%;
  left: 35.3634577603%;
  font-size: 18px;
  filter: blur(0.54px);
  animation: 31s float infinite;
}
.particle:nth-child(28) {
  top: 74.3063932449%;
  left: 23.3236151603%;
  font-size: 29px;
  filter: blur(0.56px);
  animation: 26s float infinite;
}
.particle:nth-child(29) {
  top: 89.756097561%;
  left: 71.568627451%;
  font-size: 20px;
  filter: blur(0.58px);
  animation: 36s floatReverse infinite;
}
.particle:nth-child(30) {
  top: 69.4813027744%;
  left: 74.8299319728%;
  font-size: 29px;
  filter: blur(0.6px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(31) {
  top: 70.8737864078%;
  left: 18.5546875%;
  font-size: 24px;
  filter: blur(0.62px);
  animation: 35s float infinite;
}
.particle:nth-child(32) {
  top: 23.2727272727%;
  left: 46.8292682927%;
  font-size: 25px;
  filter: blur(0.64px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(33) {
  top: 13.5757575758%;
  left: 74.1463414634%;
  font-size: 25px;
  filter: blur(0.66px);
  animation: 39s float infinite;
}
.particle:nth-child(34) {
  top: 25.1207729469%;
  left: 39.8832684825%;
  font-size: 28px;
  filter: blur(0.68px);
  animation: 29s float infinite;
}
.particle:nth-child(35) {
  top: 15.5339805825%;
  left: 61.5234375%;
  font-size: 24px;
  filter: blur(0.7px);
  animation: 24s floatReverse infinite;
}
.particle:nth-child(36) {
  top: 7.8431372549%;
  left: 18.7007874016%;
  font-size: 16px;
  filter: blur(0.72px);
  animation: 21s floatReverse2 infinite;
}
.particle:nth-child(37) {
  top: 37.7267230955%;
  left: 10.7108081792%;
  font-size: 27px;
  filter: blur(0.74px);
  animation: 26s float infinite;
}
.particle:nth-child(38) {
  top: 13.5593220339%;
  left: 68.2261208577%;
  font-size: 26px;
  filter: blur(0.76px);
  animation: 34s float infinite;
}
.particle:nth-child(39) {
  top: 65.5256723716%;
  left: 94.3025540275%;
  font-size: 18px;
  filter: blur(0.78px);
  animation: 34s floatReverse2 infinite;
}
.particle:nth-child(40) {
  top: 50.1228501229%;
  left: 75.9368836292%;
  font-size: 14px;
  filter: blur(0.8px);
  animation: 30s floatReverse2 infinite;
}
.particle:nth-child(41) {
  top: 53.2675709001%;
  left: 67.2601384768%;
  font-size: 11px;
  filter: blur(0.82px);
  animation: 38s float2 infinite;
}
.particle:nth-child(42) {
  top: 15.6862745098%;
  left: 66.9291338583%;
  font-size: 16px;
  filter: blur(0.84px);
  animation: 29s float infinite;
}
.particle:nth-child(43) {
  top: 88.3435582822%;
  left: 57.1428571429%;
  font-size: 15px;
  filter: blur(0.86px);
  animation: 24s floatReverse2 infinite;
}
.particle:nth-child(44) {
  top: 75.4534461911%;
  left: 25.3164556962%;
  font-size: 27px;
  filter: blur(0.88px);
  animation: 25s float2 infinite;
}
.particle:nth-child(45) {
  top: 75.7687576876%;
  left: 33.5636722606%;
  font-size: 13px;
  filter: blur(0.9px);
  animation: 27s floatReverse infinite;
}
.particle:nth-child(46) {
  top: 76.3769889841%;
  left: 6.8829891839%;
  font-size: 17px;
  filter: blur(0.92px);
  animation: 21s float2 infinite;
}
.particle:nth-child(47) {
  top: 53.9877300613%;
  left: 86.6995073892%;
  font-size: 15px;
  filter: blur(0.94px);
  animation: 24s floatReverse2 infinite;
}
.particle:nth-child(48) {
  top: 96.3855421687%;
  left: 40.7766990291%;
  font-size: 30px;
  filter: blur(0.96px);
  animation: 38s floatReverse infinite;
}
.particle:nth-child(49) {
  top: 83.6408364084%;
  left: 27.6406712734%;
  font-size: 13px;
  filter: blur(0.98px);
  animation: 22s float2 infinite;
}
.particle:nth-child(50) {
  top: 21.4634146341%;
  left: 40.1960784314%;
  font-size: 20px;
  filter: blur(1px);
  animation: 35s float2 infinite;
}
.particle:nth-child(51) {
  top: 12.6060606061%;
  left: 47.8048780488%;
  font-size: 25px;
  filter: blur(1.02px);
  animation: 22s float2 infinite;
}
.particle:nth-child(52) {
  top: 24.2718446602%;
  left: 61.5234375%;
  font-size: 24px;
  filter: blur(1.04px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(53) {
  top: 61.8404907975%;
  left: 86.6995073892%;
  font-size: 15px;
  filter: blur(1.06px);
  animation: 37s floatReverse infinite;
}
.particle:nth-child(54) {
  top: 15.763546798%;
  left: 35.5731225296%;
  font-size: 12px;
  filter: blur(1.08px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(55) {
  top: 62.1454993835%;
  left: 21.7606330366%;
  font-size: 11px;
  filter: blur(1.1px);
  animation: 31s float2 infinite;
}
.particle:nth-child(56) {
  top: 57.2133168927%;
  left: 48.4668644906%;
  font-size: 11px;
  filter: blur(1.12px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(57) {
  top: 96.5018094089%;
  left: 93.2944606414%;
  font-size: 29px;
  filter: blur(1.14px);
  animation: 34s floatReverse infinite;
}
.particle:nth-child(58) {
  top: 28.5714285714%;
  left: 7.9051383399%;
  font-size: 12px;
  filter: blur(1.16px);
  animation: 31s float2 infinite;
}
.particle:nth-child(59) {
  top: 7.8527607362%;
  left: 71.921182266%;
  font-size: 15px;
  filter: blur(1.18px);
  animation: 24s float2 infinite;
}
.particle:nth-child(60) {
  top: 64.656212304%;
  left: 19.436345967%;
  font-size: 29px;
  filter: blur(1.2px);
  animation: 21s float2 infinite;
}
.particle:nth-child(61) {
  top: 29.9516908213%;
  left: 27.2373540856%;
  font-size: 28px;
  filter: blur(1.22px);
  animation: 35s float2 infinite;
}
.particle:nth-child(62) {
  top: 16.5853658537%;
  left: 55.8823529412%;
  font-size: 20px;
  filter: blur(1.24px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(63) {
  top: 50.1228501229%;
  left: 21.6962524655%;
  font-size: 14px;
  filter: blur(1.26px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(64) {
  top: 69.9878493317%;
  left: 20.5278592375%;
  font-size: 23px;
  filter: blur(1.28px);
  animation: 36s float2 infinite;
}
.particle:nth-child(65) {
  top: 43.4782608696%;
  left: 65.1750972763%;
  font-size: 28px;
  filter: blur(1.3px);
  animation: 40s float infinite;
}
.particle:nth-child(66) {
  top: 30.0606060606%;
  left: 25.3658536585%;
  font-size: 25px;
  filter: blur(1.32px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(67) {
  top: 47.8048780488%;
  left: 97.0588235294%;
  font-size: 20px;
  filter: blur(1.34px);
  animation: 34s floatReverse infinite;
}
.particle:nth-child(68) {
  top: 6.8459657702%;
  left: 20.6286836935%;
  font-size: 18px;
  filter: blur(1.36px);
  animation: 23s float infinite;
}
.particle:nth-child(69) {
  top: 52.2167487685%;
  left: 82.0158102767%;
  font-size: 12px;
  filter: blur(1.38px);
  animation: 23s float2 infinite;
}
.particle:nth-child(70) {
  top: 55.0724637681%;
  left: 21.4007782101%;
  font-size: 28px;
  filter: blur(1.4px);
  animation: 28s float2 infinite;
}
.particle:nth-child(71) {
  top: 85.1897184823%;
  left: 58.0137659784%;
  font-size: 17px;
  filter: blur(1.42px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(72) {
  top: 90.7317073171%;
  left: 80.3921568627%;
  font-size: 20px;
  filter: blur(1.44px);
  animation: 38s float2 infinite;
}
.particle:nth-child(73) {
  top: 64.8125755744%;
  left: 23.3690360273%;
  font-size: 27px;
  filter: blur(1.46px);
  animation: 27s float2 infinite;
}
.particle:nth-child(74) {
  top: 12.7139364303%;
  left: 32.416502947%;
  font-size: 18px;
  filter: blur(1.48px);
  animation: 37s float2 infinite;
}
.particle:nth-child(75) {
  top: 41.1764705882%;
  left: 27.5590551181%;
  font-size: 16px;
  filter: blur(1.5px);
  animation: 27s floatReverse infinite;
}
.particle:nth-child(76) {
  top: 67.0776818742%;
  left: 37.5865479723%;
  font-size: 11px;
  filter: blur(1.52px);
  animation: 35s floatReverse2 infinite;
}
.particle:nth-child(77) {
  top: 57.2121212121%;
  left: 40.9756097561%;
  font-size: 25px;
  filter: blur(1.54px);
  animation: 36s floatReverse infinite;
}
.particle:nth-child(78) {
  top: 23.3576642336%;
  left: 68.4931506849%;
  font-size: 22px;
  filter: blur(1.56px);
  animation: 22s float2 infinite;
}
.particle:nth-child(79) {
  top: 47.3429951691%;
  left: 91.439688716%;
  font-size: 28px;
  filter: blur(1.58px);
  animation: 32s floatReverse2 infinite;
}
.particle:nth-child(80) {
  top: 82.9915560917%;
  left: 96.2099125364%;
  font-size: 29px;
  filter: blur(1.6px);
  animation: 26s floatReverse infinite;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes floatReverse {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes float2 {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
}
@keyframes floatReverse2 {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
}